{% extends "base.twig" %}

{% block content %}
    <h1 class="visually-hidden" id="title">{{ post.title }}</h1>

    <article class="page page--plugin">
        <div class="page__body">
            <div class="page__content">
                {{ content }}
            </div>
        </div>
    </article>
{% endblock %}
