{% extends "base.twig" %}

{% block content %}
    <h1 class="visually-hidden" id="title">{{ post.title }}</h1>

    <article class="page page--password">
        <div class="page__body">
            <div class="page__content">
                <section class="contact-form">
                    <div class="contact-form__inner">
                        <div class="contact-form__form">
                            <form
                                class="password-form"
                                method="post"
                                action="{{ site.site_url }}/wp-login.php?action=postpass"
                            >
                                <label for="p">Enter password</label>
                                <input class="password-form__input" id="p" type="password" name="post_password" placeholder="Password" />
                                <span class="contact-form__submit">
                                    <input class="password-form__submit" type="submit" value="Submit password" />
                                </span>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </article>
{% endblock %}
