<div class="external-link">
    <div class="external-link__inner">
        <a
            class="external-link__link"
            href="{{ module.link.url }}"
            target="{{ module.link.target ? module.link.target : '_self' }}"
        >
            {{ module.link.title }}
        </a>
    </div>
</div>
